*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: black;
    line-height: 1.6;
    height: 100vh;
    max-width: 100vw;
    font-size: 14px;
}
img{
    max-width: 100%;
    min-height: 100%;
}
h1{
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:#ff6fa5;
}
/* .container {
    margin: auto;
    max-width: 1350px;
  } */
#navbar{
    padding: 20px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fce5ed;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 2;
    
}
.flex{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
ul{
    list-style: none;
}
li{
    margin-left: 60px;
}

.bg-primary{
    background-color: #ff6fa5;
    color: #fff;
}
.bg-secondary{
    background-color: black;
    color: #fff;
}
.bg-light{
    background-color: #fce5ed;
}

.btn{
    display: inline-block;
    background-color: #ff6fa5;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    color: #fff;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background-color: black;
    color: #fff;
}
/*****/
#header span{
    font-size: 24px;
}
#header .logo-text{
    font-weight: bold; 
    color: #ff6fa5;
}

#header .logo-img{
    width: 25%;
    border-radius: 50%;
    border: black 1px solid;
}
/*Showcase*/
#showcase {
    background: url(/img/showcase1.jpg) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}
#showcase .slider{
    position: absolute;
    top: 50%;
    left:40%;
    transform: translate(-50%,-50%);
}
#showcase .text-slide{
    max-width: 40%;
}
#showcase p{
    margin-bottom: 50px;
}
/*Color nails*/
#color-nails{
    margin: 80px 0;
}
#color-nails h1{

    text-align: center;
}
#color-nails .flex-items{
    display: flex;
    justify-content: space-between;

}
#color-nails .box{
    width:32%; 
    background-color: black;  
    position: relative;
}
#color-nails img:before{
    content: '';
    opacity: 1;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}
#color-nails .nails{
    position: absolute;
    z-index: 1;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 24px;
    text-align: center;
}
/*Trend*/
#trends{
    padding: 80px;
    width: 100%;
}
#trends .trend2{
    margin: -100px 0 0 0;
}
#trends .left, .right{
    width: 50%;
    height: 500px;
}
#trends .right{
    padding: 0 60px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 #trends .left {
    line-height: 0;
}
#trends .left img {
    object-fit: cover;
}
/*Services*/
#services{
    display: flex;
    flex-direction: row;
    margin: 80px 0;
}
#services .left{
    width: 50%;
}
#services .left img{
    width: 100%;
}
#services .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#services .right h1{
    font-size: 32px;
    text-align: center;
}
#services h2{
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin-top: -30px;
}
#services .right p{
    padding: 0 80px;
}
#services a{
    margin: 30px 80px;
    display: inline-block;
}
/*Nails art*/
#nails-art{
    padding: 0 54px;
}
#nails-art .tittle{
    text-align: center;
    margin-bottom: -10px;
}
#nails-art .block{
    flex: 25%;
    width: 322px;
    height: 322px;
    padding: 10px 10px;
}

#nails-art .lists{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
#nails-art img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Reviews*/
#reviews{
    margin: 60px 0;  
    text-align: center;
}
#reviews p{
    padding: 0 60px;
}
#reviews i{
    color: #ff6fa5;
    font-size: 14px;
}

#about {
    background: url(/img/showcase2.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.us{
    position: absolute;
    background-color: #ff6fa441;
    color: rgb(8, 8, 8);
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 50px 80px;
}
.us h1, h2{
    font-weight: bold;
}
.us h2{
    font-size: 22px;
    margin-top: -30px;
}
#about2{
    margin: 80px 0;
    display: flex;
    background-color: #fce5ed;
    padding: 80px;
    height: 100%;
}
#about2 .us1, #about2 .us2 {
    width: 50%;
    text-align: center;
    position: relative;
}
#about2 .us1 img, #about2 .us2 img{
    width: 80%;
}
/*Services*/
#servicePage{
    margin: 60px 0;
    width: 100%;

}
#servicePage{
    padding: 60px;
    text-align: center;
}
#servicePage .item{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
#servicePage .box-service {
 display: flex;
}
#servicePage .left img{
 height: 350px;
 width: 500px;
 object-fit: cover;
}
#servicePage .left {
    position: relative;
    background-color: #ff6fa5;
    z-index: 0; 
    font-weight: bold;
}

#servicePage img:hover{
    opacity: 0.5;
}
#servicePage .table{
    width: 50%;
    margin-left: 50px;
}
#servicePage th{ 
    font-weight: bold;
}
#servicePage td {
    padding: 20px;
}
#servicePage .left p{
    position: absolute;
    z-index: 2;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    font-size: 28px;
}
/*Contact Page*/
.bg-contact{
    background: url(/img/arrangement-nail-care-accessories-salon_23-2148766592.jpg) no-repeat center center/cover;
    height: 100vh;

}

#contact-form {
    background: url(/img/arrangement-nail-care-accessories-salon_23-2148766592.jpg
    ) no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.contact{
    position: absolute;
    background-color: #ff6fa441;
    color: rgb(8, 8, 8);
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 20px 50px ;
    font-weight: bold;
  
}
.contact form .form-group{
    margin-top: 20px;
    color: #fff;
}
.contact form .form-group input{
    width: 100%;/*width input = width container*/
    border-radius: 2px;
    border: #ccc 1px solid;
    padding: 3px;
}
.contact form .form-group .message{
    width: 100%;
    border-radius: 2px;
    border: #ccc 1px solid;
}
#footer{
    background-color: black;
    color: #fff;
    padding: 30px 0;
}
#footer .col{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer i{
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
}
#footer .copyright{
    padding-top: 30px;
    text-align: center;
}
@media(max-width: 768px){
    h1{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    li{
        margin-left: 20px;
    }
    #navbar{
        padding: 10px 20px;
        display: block;
    }
    #navbar .flex{
        display: flex; 
    }
    #showcase .text-slide{
        max-width: 100%;
    }
    .flex{
        display: block;
    }
    #trends{
        padding:40px;
        width: 100%;
    }
    #trends .left, .right{
        width: 100%;
        height: 50%;
    }
    #trends .right {
        padding: 0 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #trends .trend2 {
        margin: -40px 0 0 0;
    }
    #services {
       display: block;
       margin: 40px;
    }
    #services .left {
        width: 100%;
    }
    #services .right p {
        padding: 0 10px;
    }
    #nails-art {
        margin: 0 40px;
        padding: 0;
    }
    #nails-art .lists{
        display: block;
        padding: 0 ;
    }
    #about {
        height: 70vh;
    }
    #about .us {
        padding: 20px;
        width: 80%;
    }
    #about .us h2 {
        font-size: 18px;
        margin-top: 0px;
    }
    #about2 {
        margin: 30px 0;
        display: block;
        padding: 20px;
    }
    #about2 .us1, #about2 .us2 {
        width: 100%; 
       }

    #contact-form .contact{
        padding: 10px;
        width: 300px;
    }
    #footer {
        padding: 20px 0;
    }
    #footer .col{
        display: block;
        padding-left: 60px;
    }
    #footer .mrg20px{
        margin-bottom: 20px;
    }
    #footer a{
        margin-left: 60px;
    }
    
    
}
